/* Section General Rules */
.section {
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 15px;
    border-width: 0 !important;
    border-bottom-width: 4px;
    color: grey;
    cursor: pointer;
}

.section:hover {
    border-width: 3px !important;
    background: whitesmoke;
}

/* Section--Selected */
.section--selected {
    border-width: 3px !important;
    background: whitesmoke;
}

/* Section H4 */
.section > h4 {
    font-size: 14px;
    margin-left: 15px;
}