/* Mail General Rules */
.mail {
    flex: 1; 
    background: whitesmoke;
}

/* Mail Tools */
.mail__tools {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

/* Mail Tools Left */
.mail__toolsLeft {
    display: flex;
}

/* Mail Body */
.mail__body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 30px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

/* Mail Body Header */
.mail__bodyHeader {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
}

.mail__important {
    color: #e8ab02 !important;
}

.mail__bodyHeader > h2 {
    font-weight: 400;
    margin-right: 20px;
}

.mail__bodyHeader > p {
    margin-left: 20px;
}

.mail__bodyHeader > .mail__time {
    position: absolute;
    font-size: 12px;
    top: 24px;
    right: 0px;
    color: gray;
}

/* Mail Body Message */
.mail__bodyMessage > p {
    margin-right: 20px;
    padding: 10px;
    overflow-wrap: break-word;
}
